.App {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

}

.Selection {
  display: flex;
  height: 5vh;
  
  justify-content: space-around;

  background-color: violet;
}

.Selection h2{
  margin: auto;
  border-style: solid;
}

.App-parts {
  display: flex;
  height: 95vh;
  width: 100%;


}


